body {
    font-family: Arial;
    background-color: #fff;
}

.main_wrap {
    padding: 0px;
    text-align: left;
}

h1 {
    margin: 0px 0px 0px 27px;
    font-family: "monospace";
}

.logo_wrap {
    display: inline-block;
}

.logo {
    margin: 0px;
    float: left;
    clear: none;
}

.sponsor {
    float: left;
    clear: none;
    margin-top: 8px;
    margin-left: 32px;
    vertical-align: top;
}

.sponsor a {
    color: blue;
    font-weight: bold;
}

h2 {
    margin: 8px 0px;
}

h3 {
    margin: 12px 0px 0px 0px;
}

hr {
    border: 1px solid black;
    margin: 8px 0px;
}

.menu, .footer, .section {
    margin: 8px 0px;
    padding: 8px;
    background-color: lightsteelblue;
    border: 2px solid black;
    font-weight: bold;
}

.footer a {
    color: navy;
}

.section {
    font-size: 24px;
    text-align: center;
}

.menu a {
    background-color: #f0f0f0;
    color: black;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
}

.compare_header, .defaults th {
    background-color: #f0f0f0;
}

.compare_wrap {
    padding: 24px 0px 4px 0px;
}

.compare {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

.compare th, .compare td {
    border: 1px solid black;
}

.compare th {
    text-align: left;
    padding: 4px;
}

.compare td {
    text-align: left;
    padding: 4px;
    vertical-align: top;
}

.cmp_name {
    width: 20%;
}

.cmp_type {
    width: 5%;
}

.cmp_description {
    width: 50%;
}

.cmp_default {
    width: 15%;
}

.cmp_value {
    width: 10%;
}

.cmp_analysis {
    width: 20%;
}

.selectors {
    font-size: 20px;
    margin: 0px;
    border-collapse: collapse;
}

.section_header, .section_header_nbm {
    font-size: 24px;
    font-weight: bolder;
}

.section_header {
    margin: 20px 0px 12px 0px;
}

.section_header_nbm {
    margin: 20px 0px 0px 0px;
}

select {
    font-size: 20px;
    width: 160px;
}

.selectors th, .selectors td {
    padding: 8px 32px 8px 8px;
    text-align: left;
    border: 1px solid black;
}

.selectors th {
    background-color: lightskyblue;
}

input[type=submit] {
    padding: 8px;
    margin: auto 8px 8px 0px;
    font-size: 24px;
    font-weight: bolder;
    border: 2px solid black;
    background-color: limegreen;
    color: black;
}

.clearbutton, .examplebutton {
    padding: 6px 8px;
    margin: auto 8px 8px 0px;
    font-size: 14px;
    font-weight: bolder;
    border: 1px solid black;
    color: black;
}

.clearbutton {
    background-color: lightgrey;
}

.examplebutton {
    background-color: lightblue;
}

td input[type=checkbox] {
    margin: 0 auto;
    width: 100%;
    float: left;
    transform: scale(2.0);
}


.ta_wrap {
    margin: 8px 0px;
}

textarea {
    width: 90%;
    background-color: black;
    color: white;
    font-size: 16px;
}

.defaults {
    border-collapse: collapse;
    margin: 8px 0px 15px 0px;
    width: 100%;
}

.defaults th, .defaults td {
    border: 1px solid black;
}

.status_error {
    background-color: #ff8888;
}

.status_warning {
    background-color: yellow;
}

.status_ok {
    background-color: palegreen;
}

.summary_container {
    clear: none;
}

.summary_switch {
    float: left;
    margin: 4px 8px 4px 0px;
    border-radius: 6px;
    padding: 4px 6px;
    white-space: nowrap;

    -moz-box-shadow: 0px 3px 3px 0px #ccc;
    -webkit-box-shadow: 0px 3px 3px 0px #ccc;
    box-shadow: 0px 3px 3px 0px #ccc;
}

.summary_switch a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.divclear {
    float: none;
    clear: both;
}

.stats_container, .top_reasons {
    clear: none;
    float: left;
    margin: 0px 32px 8px 0px;
    font-size: 14px;
}

.stats_container {
    min-height: 480px;
}

.stats_table {
    border-collapse: collapse;
}

.stats_table th, .stats_table td {
    border: solid 1px black;
    padding: 4px;
}

.stats_table th {
    text-align: center;
    font-weight: bold;
}

.stats_table td {
    text-align: right;
}

.skyblue {
    background-color: skyblue;
}

.privacy, .about {
    padding: 8px 0px;
}

li {
    padding-bottom: 8px;
}

.footer {
    font-weight: bold;
}

.error {
    color: red;
    padding: 8px 0px;
    font-weight: bold;
    margin: 0px;
}

.stored {
    margin-top: 8px;
    font-style: italic;
}