body {
    font-family: sans-serif;
    font-size: 12px;
}

.title_wrap {
    display: inline-block;
}

.title {
    margin: 0px;
    float: left;
    clear: none;
}

.divclear {
    float: none;
    clear: both;
}

.sponsor {
    float: left;
    clear: none;
    margin-top: 8px;
    margin-left: 24px;
    vertical-align: top;

    border-radius: 8px;
    padding: 8px;
    white-space: nowrap;

    -moz-box-shadow: 0px 3px 3px 0px #ccc;
    -webkit-box-shadow: 0px 3px 3px 0px #ccc;
    box-shadow: 0px 3px 3px 0px #ccc;

    background-color: #aaffaa;
}

.sponsor a {
    color: blue;
    font-size: 18px;
}

th, td {
    text-align: left;
}

.dataTables_filter {
    float: left !important;
    font-size: 24px;
}

.dataTables_filter input {
    height: 32px;
    width: 480px;
    font-size: 24px;
    border: 2px solid black;
}

.footer {
    margin-top: 12px;
    text-align: center;
    float: left;
    clear: none;
    font-weight: bold;
}

.deltaH2 {
    margin: 0px 0px 4px 0px;
    font-size: 24px;
}

.deltaH3 {
    font-size: 18px;
    margin: 8px 0px;
}

.wrap {
    vertical-align: top;
    padding: 0px 8px 0px 0px;
    float: left;
    clear: none;
}

.dtwrapper {
    padding: 0px;
    margin: 0px;
}

.dtclear {
    float: none;
    clear: both;
}

.removed {
    background-color: #ffcccc;
}

.deltatable, .deltatable td, .deltatable th {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: monospace;
    font-size: 12px;
    padding: 8px;
}

.added {
    background-color: #ccffcc;
}

a, a:visited {
    color: blue;
}

.preInline {
    display: inline;
    font-weight: bold;
}

.glossary {
    border: 1px dotted black;
    background-color: #ffee99;
    margin: 8px auto;
    padding: 8px;
}

.glossWarn {
    background-color: red;
    font-weight: bold;
    padding: 8px;
    margin-bottom: 8px;
}

.glossaryLink {
    margin-top: 2px;
    font-weight: normal;
}

.example {
    background-color: black;
    color: white;
    padding: 8px;
}

.menu {
    border-collapse: collapse;
    background-color: #ffee99;
    margin-bottom: 12px;
    height: 130px;
}

.menucontainer {
    padding: 0px;
    margin: 0px;
}

.menuwrap {
    vertical-align: top;
    padding: 0px 8px 0px 0px;
    float: left;
    clear: none;
}

.menu th, .menu td {
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
    padding: 8px;
    background-color: #eee;
}

.menu td {
    font-size: 14px;
    vertical-align: middle;
    padding: 4px;
    background-color: #fff;
    height: 18px;
}

.row-heading {
    text-align: right;
    font-weight: bold;
}


.diffs {
    float: right;
    clear: none;
    margin-right: 8px;
    font-size: 14px;
}

.book {
    text-align: left;
    padding: 0px 0px 16px 0px;
    font-size: 14px;
    font-weight: bold;
}

.foojay {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    margin-top: 8px;
}
