
<div class="title_wrap">
    <div class="title">
        <h1>VM Options Explorer - $H1_TITLE</h1>
    </div>
    <div class="sponsor">
        <a href="https://github.com/sponsors/chriswhocodes">Sponsor me on GitHub!</a>
    </div>
    <div class="divclear"></div>
</div>

<div class="menucontainer">
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="10">HotSpot
                    <div class="diffs"><a href="hotspot_option_differences.html">Options added/removed</a></div>
                </th>
            </tr>
            <tr>
                <td class="row-heading">VM Options</td>
                <td><a href="hotspot_options_jdk6.html">JDK6</a></td>
                <td><a href="hotspot_options_jdk7.html">JDK7</a></td>
                <td><a href="hotspot_options_jdk8.html">JDK8</a></td>
                <td><a href="hotspot_options_jdk9.html">JDK9</a></td>
                <td><a href="hotspot_options_jdk10.html">JDK10</a></td>
                <td><a href="hotspot_options_jdk11.html">JDK11</a></td>
                <td><a href="hotspot_options_jdk12.html">JDK12</a></td>
                <td><a href="hotspot_options_jdk13.html">JDK13</a></td>
                <td><a href="hotspot_options_jdk14.html">JDK14</a></td>
            </tr>
            <tr>
                <td class="row-heading">Intrinsics</td>
                <td><a href="hotspot_intrinsics_jdk6.html">JDK6</a></td>
                <td><a href="hotspot_intrinsics_jdk7.html">JDK7</a></td>
                <td><a href="hotspot_intrinsics_jdk8.html">JDK8</a></td>
                <td><a href="hotspot_intrinsics_jdk9.html">JDK9</a></td>
                <td><a href="hotspot_intrinsics_jdk10.html">JDK10</a></td>
                <td><a href="hotspot_intrinsics_jdk11.html">JDK11</a></td>
                <td><a href="hotspot_intrinsics_jdk12.html">JDK12</a></td>
                <td><a href="hotspot_intrinsics_jdk13.html">JDK13</a></td>
                <td><a href="hotspot_intrinsics_jdk14.html">JDK14</a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="2">GraalVM</th>
            </tr>
            <tr>
                <td><a href="graalvm_ce_19_options.html">GraalVM CE 19.2.1</a></td>
                <td><a href="graalvm_ee_19_options.html">GraalVM EE 19.2.1</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="graalvm_ee_only_options.html"><b>Enterprise-only options</b></a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="2">GraalVM native-image</th>
            </tr>
            <tr>
                <td><a href="graalvm_native_image_ce_19_options.html">native-image CE 19.2.1</a></td>
                <td><a href="graalvm_native_image_ee_19_options.html">native-image EE 19.2.1</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="graalvm_native_image_ee_only_options.html"><b>Enterprise-only options</b></a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th>OpenJ9</th>
            </tr>
            <tr>
                <td><a href="openj9_options.html">OpenJ9</a></td>
            </tr>
            <tr>
                <td><a href="https://www.eclipse.org/openj9/docs/cmdline_migration/"><b>Migrating from HotSpot</b></a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="2">Azul Zing</th>
            </tr>
            <tr>
                <td><a href="zing_jdk8_options.html">Zing JDK8</a></td>
                <td><a href="zing_jdk11_options.html">Zing JDK11</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="dtclear"></div>
<div class="book">
    Hey Reader! If these notes float your boat you'll find more great JVM info in this book I co-wrote!
    <a href="https://www.amazon.com/Optimizing-Java-Techniques-Application-Performance/dp/1492025798/">Optimizing Java: Practical
        techniques for improving JVM application performance</a>
</div>
