<div class="title_wrap">
    <div class="title">
        <h1>VM Options Explorer - $H1_TITLE</h1>
    </div>
    <div class="sponsor">
        <a href="https://github.com/sponsors/chriswhocodes">Sponsor me on GitHub!</a>
    </div>
    <div class="divclear"></div>
</div>

<div class="menucontainer">
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="13">OpenJDK HotSpot
                    <div class="diffs"><a href="hotspot_option_differences.html">Options added/removed</a></div>
                    <div class="foojay">OpenJDK options also hosted on <a
                            href="https://foojay.io/command-line-arguments/openjdk-11/?tab=alloptions">foojay.io</a></div>
                </th>
            </tr>
            <tr>
                <td class="row-heading">VM Options</td>
                <td><a href="hotspot_options_openjdk6.html">JDK6</a></td>
                <td><a href="hotspot_options_openjdk7.html">JDK7</a></td>
                <td><a href="hotspot_options_openjdk8.html">JDK8</a></td>
                <td><a href="hotspot_options_openjdk9.html">JDK9</a></td>
                <td><a href="hotspot_options_openjdk10.html">JDK10</a></td>
                <td><a href="hotspot_options_openjdk11.html">JDK11</a></td>
                <td><a href="hotspot_options_openjdk12.html">JDK12</a></td>
                <td><a href="hotspot_options_openjdk13.html">JDK13</a></td>
                <td><a href="hotspot_options_openjdk14.html">JDK14</a></td>
                <td><a href="hotspot_options_openjdk15.html">JDK15</a></td>
                <td><a href="hotspot_options_openjdk16.html">JDK16</a></td>
                <td><a href="hotspot_options_openjdk17.html">JDK17</a></td>

            </tr>
            <tr>
                <td class="row-heading">Intrinsics</td>
                <td><a href="hotspot_intrinsics_openjdk6.html">JDK6</a></td>
                <td><a href="hotspot_intrinsics_openjdk7.html">JDK7</a></td>
                <td><a href="hotspot_intrinsics_openjdk8.html">JDK8</a></td>
                <td><a href="hotspot_intrinsics_openjdk9.html">JDK9</a></td>
                <td><a href="hotspot_intrinsics_openjdk10.html">JDK10</a></td>
                <td><a href="hotspot_intrinsics_openjdk11.html">JDK11</a></td>
                <td><a href="hotspot_intrinsics_openjdk12.html">JDK12</a></td>
                <td><a href="hotspot_intrinsics_openjdk13.html">JDK13</a></td>
                <td><a href="hotspot_intrinsics_openjdk14.html">JDK14</a></td>
                <td><a href="hotspot_intrinsics_openjdk15.html">JDK15</a></td>
                <td><a href="hotspot_intrinsics_openjdk16.html">JDK16</a></td>
                <td><a href="hotspot_intrinsics_openjdk17.html">JDK17</a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="4">GraalVM $GRAAL_VERSION</th>
            </tr>
            <tr>
                <th colspan="2">JDK8</th>
                <th colspan="2">JDK11</th>
            </tr>
            <tr>
                <td><a href="graalvm_ce_jdk8_options.html">Community</a></td>
                <td><a href="graalvm_ee_jdk8_options.html">Enterprise</a></td>
                <td><a href="graalvm_ce_jdk11_options.html">Community</a></td>
                <td><a href="graalvm_ee_jdk11_options.html">Enterprise</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="graalvm_ee_only_jdk8_options.html">EE-only</a></td>
                <td></td>
                <td><a href="graalvm_ee_only_jdk11_options.html">EE-only</a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="4">GraalVM native-image $GRAAL_VERSION</th>
            </tr>
            <tr>
                <th colspan="2">JDK8</th>
                <th colspan="2">JDK11</th>
            </tr>
            <tr>
                <td><a href="graalvm_native_image_ce_jdk8_options.html">Community</a></td>
                <td><a href="graalvm_native_image_ee_jdk8_options.html">Enterprise</a></td>
                <td><a href="graalvm_native_image_ce_jdk11_options.html">Community</a></td>
                <td><a href="graalvm_native_image_ee_jdk11_options.html">Enterprise</a></td>
            </tr>
            <tr>
                <td></td>
                <td><a href="graalvm_native_image_ee_only_jdk8_options.html">EE-only</a></td>
                <td></td>
                <td><a href="graalvm_native_image_ee_only_jdk11_options.html">EE-only</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="dtclear"></div>
<div class="menucontainer">
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th>OpenJ9</th>
            </tr>
            <tr>
                <td><a href="openj9_options.html">OpenJ9</a></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="7">Azul</th>
            </tr>
            <tr>
                <th colspan="2">Zing</th>
                <th colspan="5">Zulu</th>
            </tr>
            <tr>
                <td><a href="zing_jdk8_options.html">JDK8</a></td>
                <td><a href="zing_jdk11_options.html">JDK11</a></td>
                <td><a href="zulu_jdk8_options.html">JDK8</a></td>
                <td><a href="zulu_jdk11_options.html">JDK11</a></td>
                <td><a href="zulu_jdk13_options.html">JDK13</a></td>
                <td><a href="zulu_jdk15_options.html">JDK15</a></td>
                <td><a href="zulu_jdk16_options.html">JDK16</a></td>
            </tr>
            <tr>
                <td><a href="compare_openjdk8_zing_jdk8.html">Compare</a></td>
                <td><a href="compare_openjdk11_zing_jdk11.html">Compare</a></td>
                <td><a href="compare_openjdk8_zulu_jdk8.html">Compare</a></td>
                <td><a href="compare_openjdk11_zulu_jdk11.html">Compare</a></td>
                <td><a href="compare_openjdk13_zulu_jdk13.html">Compare</a></td>
                <td><a href="compare_openjdk15_zulu_jdk15.html">Compare</a></td>
                <td><a href="compare_openjdk16_zulu_jdk16.html">Compare</a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="2">Amazon</th>
            </tr>
            <tr>
                <td><a href="corretto_jdk8_options.html">Corretto 8</a></td>
                <td><a href="corretto_jdk11_options.html">Corretto 11</a></td>
            </tr>
            <tr>
                <td><a href="compare_openjdk8_corretto_jdk8.html">Compare</a></td>
                <td><a href="compare_openjdk11_corretto_jdk11.html">Compare</a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th>Microsoft</th>
            </tr>
            <tr>
                <td><a href="microsoft_jdk11_options.html">Microsoft 11</a></td>
            </tr>
            <tr>
                <td><a href="compare_openjdk11_microsoft_jdk11.html">Compare</a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th>SAP</th>
            </tr>
            <tr>
                <td><a href="sapmachine_options.html">SapMachine</a></td>
            </tr>
            <tr>
                <td><a href="compare_openjdk16_sapmachine.html">Compare</a></td>
            </tr>
        </table>
    </div>
    <div class="menuwrap">
        <table class="menu">
            <tr>
                <th colspan="2">Alibaba</th>
            </tr>
            <tr>
                <td><a href="dragonwell_jdk8_options.html">Dragonwell 8</a></td>
                <td><a href="dragonwell_jdk11_options.html">Dragonwell 11</a></td>
            </tr>
            <tr>
                <td><a href="compare_openjdk8_dragonwell_jdk8.html">Compare</a></td>
                <td><a href="compare_openjdk11_dragonwell_jdk11.html">Compare</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="dtclear"></div>
<div class="book">
    Hey Reader! If these notes float your boat you'll find more great JVM info in this book I co-wrote!
    <a href="https://www.amazon.com/Optimizing-Java-Techniques-Application-Performance/dp/1492025798/">Optimizing Java: Practical
        techniques for improving JVM application performance</a>
</div>
