<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang='en-GB'>
<head>
<title>$H1_TITLE</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Chris Newland" />
<meta name="copyright" content="Chris Newland 2018-2019" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="css/style-vmoe.css">
</head>
<body>
	$HEADER_HTML
	$DELTA_BODY
	<div class="footer">
		Built on $DATE by <a href="https://twitter.com/chriswhocodes">@chriswhocodes</a>
	</div>
</body>
</html>
